<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!--

	This file is the default logback configuration for Spring Boot. To use the same
	defaults and add custom logger levels you can copy this file and add additional
	overrides, e.g:

	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	...

    -->
	<logger name="org.springframework.web" level="DEBUG"/>

	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<logger name="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" level="INFO"/>
	<logger name="org.springframework.web.context.support.StandardServletEnvironment" level="INFO" />
	<logger name="org.springframework.web.servlet.DispatcherServlet" level="WARN" />
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="INFO" />
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestResponseBodyMethodProcessor" level="INFO" />
	<logger name="org.springframework.web.servlet" level="INFO" />
	<logger name="org.springframework.web" level="DEBUG" />
	<logger name="org.apache.jasper.compiler.TldLocationsCache" level="WARN"/>
	<!-- 
	 -->
	
	<logger name="com.beerbuddy.core" level="DEBUG" />
	
</configuration>