
<div>
	
	<md-content>
		
		<md-tabs md-selected="selectedIndex">
		    <md-tab ng-repeat="tab in tabs" md-on-select="announceSelected(tab)" 
		    		md-on-deselect="announceDeselected(tab)"
		    	ng-disabled="tab.disabled" label="{{tab.title}}">
		    <div class="tab{{$index%4}}" layout="column">
		        
		      
		      <section>
			<!-- <md-subheader class="md-primary">Beer</md-subheader> -->
			<md-list>
		      <md-item ng-repeat="beer in beers">
		        <md-item-content layout="row">
		        	<section class="md-tile-left" flex="10">
		        		<img ng-src="{{beer.imageUrl}}" class="face" alt="{{beer.name}}">
		        	</section>
			          <div flex="15" class="md-tile-content">
			              <h3>{{beer.name}}</h3>
			              <h4>{{beer.brewer}} <span class="pull-right">ABV: {{beer.abv}}</span></h4>
			              <h4>{{beer.category}} - {{beer.type}} </h4>
			          </div>
			          <div flex>
			          <!-- 
			            	<div>
			            		<svg width="970">
			            			<circle r="60" id="nytg-circle309" cx="75" cy="75" style="fill: grey; stroke-width: 1px; stroke: rgb(126, 150, 93);"></circle>
				            		<circle r="40" id="nytg-circle309" cx="225" cy="75" style="fill: rgb(156, 175, 132); stroke-width: 1px; stroke: rgb(126, 150, 93);"></circle>
									<circle r="25" id="nytg-circle309" cx="325" cy="75" style="fill: rgb(156, 175, 132); stroke-width: 1px; stroke: rgb(126, 150, 93);"></circle>
									<text x="50" y="85" fill="white" font-size="40px">75</text></svg>
			            	</div>
			           -->
			          </div>
		        </md-item-content>
		      </md-item>
		    </md-list>
		    <md-button ng-click="nextPage();" ng-show="hasMore();"
			        		class="md-fab md-primary face" aria-label="Load More">
			    <md-icon icon="/static/bower_components/material-design-icons/navigation/svg/production/ic_expand_more_24px.svg" >
	            </md-icon>
			 </md-button>
		</section>
		      
		        
		        
		      </div>
		    </md-tab>
		  </md-tabs>
	
	</md-content>


</div>    