
<md-content> 

<div layout="column"></div>




<div>
	Text Includes: <input ng-model="query"> Filter by: <select
		ng-model="orderProp">

		<option selected value="name">Alphabetical</option>
		<option value="brewer">Brewer</option>
		<option value="type">Type</option>
		<option value="abv">ABV</option>
		<option value="category">Category</option>
	</select>
</div>

<section style="padding-top: 20px;">
	<div class="container">

		<div layout="row" ng-repeat="rows in beers" layout-margin
			style="width: 85%; margin-left: auto; margin-right: auto;">
			<div ng-repeat="beer in rows" flex>
				<md-card flex flex-order="1" style="background-color: #BEE3FF;">
				<md-card-content>
				<h3>{{beer.name}}</h3>
				<img ng- src="{{beer.imageUrl}}" class="face" alt="{{beer.name}}">
				</md-card-content> </md-card>
			</div>
		</div>

		<md-button style="position:fixed; right:0px; top:50%;" ng-click="loadMore();" ng-show="hasMore();" class="md-fab md-primary face" aria-label="Load More">
		> </md-button>
		</section>




</md-content>