

<div>Search: <input ng-model="query">Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="brewer">Brewer</option>
  <option value="type">Type</option>
  <option value="abv">ABV</option>
  <option value="category">Category</option>
</select></div>

	<md-content>

		<md-tabs md-selected="selectedIndex">
		    <md-tab ng-repeat="tab in tabs" md-on-select="selectType(tab)"
		    		md-on-deselect="deselectType(tab)"
		    	ng-disabled="tab.disabled" label="{{tab.title}}">
		    <div layout="column">

		      </div>
		    </md-tab>
		  </md-tabs>

<section>
      <div class="blue">
      <slick class="slider single-item" slides-to-show="3" init-onload="true" slides-to-scroll="3" style="width:70%; margin-left:auto; margin-right:auto;">
        <div ng-repeat="beer in beers">
        <h3>  {{beer.name}} </h3>
      </div>

			<!-- <md-subheader class="md-primary">Beer</md-subheader>

      <div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"><h3>{{ i }}</h3></div>
          	<img ng-src="{{beer.imageUrl}}" class="face" alt="{{beer.name}}">

			          <div flex="15" class="md-tile-content">
			              <h3>{{beer.name}}</h3>
			              <h4>{{beer.brewer}} <span class="pull-right">ABV: {{beer.abv}}</span></h4>
			              <h4>{{beer.category}} - {{beer.type}} </h4>

                     <div flex>

			            	<div>
                    <svg width="970">
			            			<circle r="60" id="nytg-circle309" cx="75" cy="75" style="fill: grey; stroke-width: 1px; stroke: rgb(126, 150, 93);"></circle>
				            		<circle r="40" id="nytg-circle309" cx="225" cy="75" style="fill: rgb(156, 175, 132); stroke-width: 1px; stroke: rgb(126, 150, 93);"></circle>
									<circle r="25" id="nytg-circle309" cx="325" cy="75" style="fill: rgb(156, 175, 132); stroke-width: 1px; stroke: rgb(126, 150, 93);"></circle>
									<text x="50" y="85" fill="white" font-size="40px">75</text></svg>
			            	</div>-->

      </slick>
</div>

    </section>

	</md-content>


</div>
